html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", cursive, sans-serif;
  background-color: #f3f3f3c2;
  text-align: center;
  min-width: 280px;
}